h2{
    color:#5FCFFC;
    /*hex decimal*/
    background-color: rgba(0,200,0);
    /*rgb*/
}
/*h2 = selector*/

button{
    color:magenta;
    background-color:cyan;
    /*name color*/
}

p{
    color:olive;
    background:orange;
    /*background isn't equal to background-color*/
    font-weight:bold;
  
}

body{
    background-color: #f1faee;
}

h1{
    text-align:center;
}
/*Use id selector*/
/* #search{
    background-color: #1d3557;
    color:#f1faee;
} */

.next a {
    color:red;
    text-decoration:orange wavy;
}

/* Descendant selector
x y {}
select y that nested inside x 
*/

input + button {
    background-color:palevioletred;
    color:white;
}

li > a {
    background-color: powderblue;
    font-size:large;
}

footer > a {
    color:#a8dadc;
}
/* Adjacent selector 
x + y {}
+ means select only the y element that are immediately preceded by x
x > y {}
> means select only the y that are direct children of x
*/

input[type="text"] {
    width:300px;
    color:yellow;
    background-color:royalblue;
}

 a[href="http://google.com"] {
     background-color:seagreen;
 }

  p  input[type="checkbox"] + label {
      background-color: black;
      color:pink;
  }
  input[type="checkbox"]:checked{
    box-shadow:0px 0px 0px 1px red;

  }
  p  input[type="checkbox"]:checked + label{
    
      color:white;
  }

  p  input[type="radio"]:checked + label{
    color:red;
}
/* Attribute selector
input[type="..."]
 select all input element where the type attribute is set to ...
*/

 button:hover{
     background-color: #e63946;
 }

 button:active{
     background-color:tomato;
     color:turquoise;
 }

 li a:hover {
     background-color:pink;
     color:white;
 }

 h2:nth-of-type(3){
    color:magenta;
}
/*Pseudo class*/

 h2::first-letter{
     font-size:30px;
 }

 p::first-line{
     color:red;
 }

 h1::first-line{
     color:maroon;
 }

 p::selection{
     background-color: lime;
     color:blue;
 }

 #search{
    background-color: firebrick !important;
    color:white !important;
 }
/*Pseudo element*/

/*Specificity
specific selector will win
!important>in-line style > Id > class > element
*/

.inheritance{
    color:white !important;
}

.inheritance > p {
    color:inherit;
}
/*
Css inheritance
*/